<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="persona">
            <h2><span>Persona</span> {{ persona.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Documento Identidad</span></dt>
                <dd>
                    <span>{{ persona.documentoIdentidad }}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ persona.nombre }}</span>
                </dd>
                <dt><span>Apellidos</span></dt>
                <dd>
                    <span>{{ persona.apellidos }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ persona.email }}</span>
                </dd>
                <dt><span>Telefono</span></dt>
                <dd>
                    <span>{{ persona.telefono }}</span>
                </dd>
                <dt><span>Curriculum</span></dt>
                <dd>
                    <div *ngIf="persona.curriculum">
                        <a (click)="openFile(persona.curriculumContentType, persona.curriculum)">open</a>
                        {{ persona.curriculumContentType }}, {{ byteSize(persona.curriculum) }}
                    </div>
                </dd>
                <dt><span>Comentarios</span></dt>
                <dd>
                    <span>{{ persona.comentarios }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/persona', persona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
